{% macro render_main_menu() -%}

<ul>
{%- for title, path in config['MENU'] %}
<li>
    <a {%- if url_for('page', path=path) == request.path %} class="current" {%- endif %} href="{{ url_for('page', path=path) }}">{{ title }}</a>
</li>
{%- endfor %}
</ul>
{%- endmacro %}


{% macro render_gallery(number) -%}

{% for i in range(1, number + 1) %}
<a rel="lightbox-praxis"
    href="{{ url_for('static', filename='images/praxis-{0!s}.jpg'.format(i)) }}"><img
    alt="Praxisbild {{i}}" width="150" height="100"
    src="{{ url_for('static', filename='images/praxis-{0!s}-klein.gif'.format(i)) }}"></a>
{% endfor %}
{%- endmacro %}


{% macro render_assistant(name, image) -%}

![{{ name }}]({{ url_for('static', filename='images/{}'.format(image)) }}){:.rahmen}  
*{{ name }}*{:.name}
{:.helferin}

{%- endmacro %}
