{% extends 'layout.html' %}

{% block title %}
Kooperationen
{% endblock %}

{% block heading %}
Kooperationen
{% endblock %}

{% block content %}
Überörtliche Berufsausübungsgemeinschaft mit
============================================

* [Prof. Dr. Oliver Strohm](http://zentrum-kardiologie.de){:.extern} -- Facharzt für Innere Medizin, Kardiologie, kardiale Magnetresonanztomographie
* [Dr. Christoph Irtel von Brenndorff](http://zentrum-kardiologie.de){:.extern} -- Facharzt für Kinder- und Jugendmedizin, Schwerpunkt Kinderkardiologie

Kooperationen bestehen mit
==========================

* [Herzzentrum Lahr](http://www.mediclin.de/herzzentrum-lahr){:.extern}
* [Krankenhaus Forbach](http://www.klinikum-mittelbaden.de){:.extern}
* [Kreiskrankenhaus Rastatt](www.klinikum-mittelbaden.de){:.extern} -- Gemeinsame Nutzung des Herzkatheterlabors
* [Ärztenetz Mittelbaden](http://www.ae-mb.de){:.extern}

Mitgliedschaft in Fachgesellschaften
====================================

* [Deutsche Gesellschaft für Kardiologie](http://www.dgkardio.de){:.extern}
* [Sportärztebund Baden](http://www.badischer-sportbund.de){:.extern} -- Deutsche Gesellschaft für Sportmedizin und Prävention DGSP
* [Bund Niedergelassener Kardiologen](http://www.bnk.de){:.extern}
{% endblock %}
